.picture-hidden {
  display: none;
}

img {
  width: 400px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 48pt;
}

p {
  font-size: 18pt;
}

.clickable{
  cursor: pointer;
  color: #009933;
}

.clickable:hover {
  text-decoration: underline;
}

.slider {
  cursor: pointer;
  color: #009933;
}

.slider:hover {
  text-decoration: underline;
}

.droptext {
  display: none;
}

.trick{
  cursor: pointer;
  color: #009933;
}

.trick:hover {
  text-decoration: underline;
}

.tricktext{
  display: none;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/20100726_Kalamitsi_Beach_Ionian_Sea_Lefkada_island_Greece.jpg")
}

.jumbotron {
  background: rgba(180,180,180,0.5);
  margin: 100px;
  border-radius: 30px;
}
